{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | About us {% endblock %}

{% block body %}
    <p>Nombre de références dans le panier : {{ app.session.get('nbItemCart')}}</p>
    <h1> About us </h1>
    <div>Shop history and details</div>
{% endblock %}
