{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="style/home.css">
{% endblock %}
{% block title %} {{ parent() }} | Home {% endblock %}

{% block body %}
    <div class="content">
        <div>
            <p>Faut-il garder cette page ou aller directement en boutique?</p>
        </div>
        {#
        <div class="home_bg">
           <img src="img/bg_home.jpg" alt="">
        </div>
        #}
    </div>
{% endblock %}
