body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.alert {
  position: absolute;
  right: 1rem;
  top: 5rem;
  padding: 1rem;
  color: #fff;
  animation: popup 5s ease forwards;
}
.alert.danger {
  background-color: rgb(247, 75, 75);
}
input {
  outline: none;
}
@keyframes popup {
  0% {
    transform: translateX(110%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110%);
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
img {
  image-rendering: optimizeQuality;
}
input {
  border: 1px solid lightgray;
}
/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 1rem;
}
header div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div::after {
  content: "";
  position: absolute;
  top: -5rem;
  left: -10rem;
  z-index: -1;
  height: 10rem;
  width: 20rem;
  background-color: #fff;
  transform: rotate(-45deg);
}
header div a {
  display: block;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
header div a img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}
header div h4 {
  font-weight: 300;
  color: black;
}
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 1rem;
  list-style-type: none;
}
nav ul li a {
  font-weight: 300;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.home ul li a {
  color: #fff;
}
nav ul li a img {
  height: 1.5rem;
  width: auto;
  object-fit: contain;
  transition: 0.25s;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul li a:hover img {
  transform: scale(1.03);
}

/* Main */
main {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

/* Footer */
footer {
  height: 10rem;
  background-color: rgb(68, 68, 68);
}
