{% extends 'base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="style/form.css">
{% endblock %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
{{
    form(form_register)
}}
<p>Déja un compte ? <a href="{{path('app_login')}}">Me connecter.</a></p>
{% endblock %}
