{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | paginated items {% endblock %}

{% block body %}

    <h1> Item detail </h1>
    <div>Full description of the item</div>
{% endblock %}
