{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | paginated items {% endblock %}

{% block body %}

    <h1> {{ item.name }}</h1>
    <div>{{ item.description }}</div>

{% endblock %}
