{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | paginated items {% endblock %}

{% block body %}

    <h1> Item paginated | page n°{{ page }}</h1>
    <div>List of items with pagination</div>
{% endblock %}
