<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {# CSS #}
        <link rel="stylesheet" href="style/fonts.css">
        <link rel="stylesheet" href="style/app.css">
        {% block css %}{% endblock %}
        {# Title #}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block js %}
            <script src="js/app.js"></script>
        {% endblock %}
    </body>
</html>
