{% extends 'base.html.twig' %}
{% block css %}
<link rel="stylesheet" href="{{asset('style/dashboard.css')}}">
{% endblock %}


{% block body %}
<div class="content">
    {% include "dashboard/nav.html.twig" %}

    <h1>{{controller_name}}</h1>
    <p>Bienvenue {{app.user.lastname}} {{app.user.firstname}}</p>

</div>
{% endblock %}